.Navbar {
  height: 80px; 
  position: relative; 
  width: 100%;
  z-index: 10;  
}

.min-h-screen {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.section {
  margin-left: 70%;
  display: flex;               /* 使用 Flexbox 佈局 */
  justify-content: center;     /* 水平居中 */
  align-items: center;         /* 垂直居中 */
  text-align: center;          /* 文字居中 */
  flex-grow: 1;                /* 讓 main 占據剩餘空間 */
  padding-top: 20px;         
  width: 100%;                 /* 確保它佔據整個頁面寬度 */
  box-sizing: border-box;      /* 確保內邊距計算在內 */
}

/* @import "tailwindcss"; */
/* 
.btn {
  @apply flex w-36 items-center justify-center rounded-lg bg-blue-500 px-4 py-2 text-sm font-medium text-white hover:bg-blue-700
} */